$mainColor: #12c2c4;
$secondaryColor: black;
$additionalColor: #2d2d2d;
$textColor: white;

body {
  font-family: 'Comfortaa', sans-serif;
  color: $textColor;
  background-color: $additionalColor;
  background: url(../img/back10.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  margin: 20px 5%;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 20px;
  padding-bottom: 20px;
}

.team-result {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 60px;
  #wrap-container {
    position: relative;
    .wrap-heading {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 20px 0;
      gap: 10%;
      .team-wrap,
      .adjudicator-wrap,
      .points-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          display: block;
          margin-bottom: 6px;
          color: rgb(4, 27, 54);
          font-weight: 700;
          text-transform: uppercase;
          text-shadow: 1px 1px 5px rgb(101, 207, 201);
          font-size: 0.8rem;
        }
      }
    }
    select,
    input {
      margin: 15px;
      border: 2px solid $mainColor;
      border-radius: 10px;
      color: $textColor;
      background-color: $secondaryColor;
      &:not(#wrap-btn) {
        padding: 10px;
        font-size: 20px;
        transition: all 0.15s;
        &:focus {
          box-shadow: 0px 0px 10px 2px #12c2c4;
          transform: scale(1.1);
        }
      }
    }

    select {
      margin-top: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    // #teamAmount {
    // }
    #wrap-btn {
      height: 46px;
      padding: 7px;
      transition: all 0.05s;
      &:hover {
        cursor: pointer;
        background-color: lighten($secondaryColor, 7);
      }
      &:active {
        box-shadow: 0px 0px 10px 2px rgba(255, 165, 0, 0.75);
        transform: scale(0.9);
      }
    }
  }
  .team-result__block {
    .team-result__item {
      text-align: center;
      .resultText {
        padding: 20px 0;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 1px 1px 5px rgb(101, 207, 201);
        color: rgb(4, 27, 54);
      }
      input {
        margin: 8px;
        margin-left: 0;
        padding: 5px;
        border: 1px solid $mainColor;
        border-radius: 8px;
        transition: all 0.15s;
        color: $textColor;
        background-color: $secondaryColor;
        width: 129px;
        &::placeholder {
          font-size: 0.8rem;
          color: rgb(190, 187, 187);
        }
        &:focus {
          box-shadow: 0px 0px 10px 2px $mainColor;
          transform: scale(1.05);
        }
      }
      input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
      .adjudicatorBlock {
        display: flex;
        flex-direction: row;
        .firstitem {
          display: block;
          width: 129px;
          margin: 8px;
          padding: 5px;
          margin-left: 0;
        }
        .adjudicator {
          border: 2px solid rgb(255, 0, 93);
          width: 129px;

          &:focus {
            box-shadow: 0px 0px 10px 2px rgba(255, 0, 93, 0.75);
          }
        }
      }
      .teamBlock {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .team {
          border: 2px solid rgb(0, 255, 166);
          width: 129px;
          &::placeholder {
            font-size: 0.8rem;
          }
          &:focus {
            box-shadow: 0px 0px 10px 2px rgba(0, 255, 166, 0.75);
          }
        }
        output {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 8px 0;
          padding: 0 15px;
          border: 2px solid #2572b1;
          border-radius: 10px;
          box-shadow: 0px 0px 10px 2px rgba(37, 114, 177, 0.75);
          background-color: $secondaryColor;
          color: $textColor;
        }
      }
      .result-btn {
        position: absolute;
        left: 45%;
        font-family: 'Comfortaa', sans-serif;
        margin-top: 10px;
        padding: 7px;
        font-size: 16px;
        border: 2px solid $mainColor;
        border-radius: 10px;
        color: $textColor;
        background-color: $secondaryColor;
        transition: all 0.05s;
        &:hover {
          cursor: pointer;
          background-color: lighten($secondaryColor, 7);
        }
        &:active {
          box-shadow: 0px 0px 10px 2px rgba(255, 165, 0, 0.75);
          transform: scale(0.9);
        }
      }
    }
  }
}

.adjudicatorBlock {
  display: flex;
}

input {
  width: 149px;
  padding: 1px 2px;
}
